body {
    font-family:red/black, sans-serif;
    margin: 20px;
    padding: 0%;
    background-color: #F3F3E0;
}

form{
    margin:auto;
    background-color: #AB886D;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0 , 0 , 0 , 0.5);
    padding: 20px;
    max-width: 600px;
}

h1{
    text-align: center;
    color: black;
}

fieldset{
    border: 2px solid #D6C0B3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:#D6C0B3;
}

legend{
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29 ,29)
}

input,textarea{
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid  #c29982;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    display: black;
    width: 100%;
    background-color:#D6C0B3;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow:  0 4px 8px rgba(0 , 0 , 0 , 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: 10px;
}

button :hover{
    color: #c47a4f;
}


#resume-display {
max-width: 600px;
margin: auto;
padding: 20px;
border: 2px solid #c29982;
border-radius: 8px;
background-color: #c29982;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
color: black;
}
